.parent{
    background-color:#bbb;
    height: 100%;
}
.element{
    background-color: aqua;
    width: 100%;
    height: 100px;
    text-align: center;
    color:red;
    opacity: 0.6;
    position:fixed; /*nó sẽ fix ở 1 vị trí theo thằng parent, nếu không muốn ăn theo thẻ cha mà theo màn hình, sẽ cần khai báo top, left bottom right  */
    left: 0%;
    bottom: 0%;
}
body{
    font: 3em sans-serif;
}
body,html{
    height:100%;
}
body{
    display:flex;
    justify-content:center;
    align-items:center;
}